@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

/* Styling */
:root {
	font-size: 16px;
	--default-fonts: system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	font-family: "Poppins", "Montserrat", var(--default-fonts);
	font-weight: 400;
	color: rgb(60, 77, 79);
}

img {
	height: 30px;
	width: 30px;
}

.hide {
	display: none;
}

.material-symbols-outlined,
.material-icons {
	font-size: 1.7rem;
	color: rgb(87, 111, 114);
	transition: transform 0.5s;
	cursor: default;
}

.edit,
.delete,
.edit-tag,
.delete-tag {
	cursor: pointer;
}

.material-symbols-outlined:hover {
	transform: translateY(-1px) rotate(8deg);
}

#nav {
	grid-column: 1 / 2;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 48px;
	padding: 48px;
	background-color: rgb(228, 220, 207);
}

#nav > .user-details {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.user-row:first-child span:first-child,
.nav-header:first-child span:first-child,
.tag-header:first-child span:first-child {
	width: 100%;
	height: 2px;
	background-color: rgb(87, 111, 114);
}

.user-row:first-child span:nth-child(3),
.nav-header:first-child span:nth-child(3),
.tag-header:first-child span:nth-child(3) {
	width: 100%;
	height: 2px;
	background-color: rgb(87, 111, 114);
}

.user-details .user-row:nth-child(1),
.nav-buttons .nav-header:nth-child(1),
.tags > .tag-header:nth-child(1) {
	font-size: 1.2rem;
	font-weight: 600;
	font-family: "Montserrat", "Poppins", var(--default-fonts);
	text-transform: capitalize;
}

.user-row {
	display: flex;
	align-items: center;
	gap: 16px;
}

.user-row .user-picture {
	border-radius: 50%;
}

.user-row .notifications {
	margin-left: auto;
}

.nav-buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 16px;
}

.nav-buttons .nav-row,
.nav-buttons .nav-header {
	display: flex;
	align-items: center;
	gap: 16px;
}

.nav-row > p {
	cursor: pointer;
	transition: transform 0.2s;
}

.nav-row > p:hover {
	transform: translateY(-1px);
}

.tags {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 16px;
}

.tags .tag-row,
.tags .tag-header {
	display: flex;
	align-items: center;
	gap: 16px;
}

.tag-row p {
	cursor: pointer;
	margin-right: auto;
	transition: transform 0.2s;
}

.tag-row p:hover {
	transform: translateY(-1px);
}

.tags > button {
	border: 1px solid rgb(87, 111, 114);
	border-radius: 5px;
	outline: none;
	/* background-color: rgb(87, 111, 114, 0); */
	background: none;
	cursor: pointer;
	transition: 0.5s;
	font-size: 1.2rem;
	color: rgba(87, 111, 114, 0.5);
}

.tags > button:hover,
.tags > button:active {
	color: rgba(87, 111, 114, 1);
}

#content {
	grid-column: 2 / 3;
	padding: 48px;
	background-color: rgb(240, 235, 227);
}

.header > .header-details > h2 {
	font-size: 1.6rem;
	font-family: "Montserrat", "Poppins", var(--default-fonts);
}

.header {
	display: flex;
}

.header-details {
	display: flex;
	align-items: center;
	gap: 16px;
}

.header-details > .material-symbols-outlined {
	font-size: 2rem;
}

.header-buttons {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.cards {
	padding: 48px;
	display: grid;
	grid-template-columns: 1fr;
	gap: 32px;
}

.card {
	height: 5vh;
	background-color: rgb(228, 220, 207);
	border-radius: 5px;
	border-left: 10px solid rgb(87, 111, 114);
	display: flex;
	align-items: center;
	gap: 16px;
	padding: 16px;
	color: rgb(87, 111, 114);
}

.empty-card {
	height: 5vh;
	background-color: rgb(228, 220, 207);
	border-radius: 5px;
	border-left: 10px solid rgb(87, 111, 114);
	display: flex;
	align-items: center;
	gap: 16px;
	padding: 16px;
}

.card-info {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
}

.card-title {
	text-transform: lowercase;
	transform: translateY(-1px);
	font-size: 1.3rem;
	font-weight: 500;
	font-family: "Montserrat", "Poppins", var(--default-fonts);
	align-self: center;
}

.card-tags {
	text-transform: lowercase;
	font-weight: 300;
}

.card .card-buttons {
	display: flex;
	align-items: center;
	gap: 16px;
	margin-left: auto;
}

.empty-card {
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.empty-card span {
	color: rgb(87, 111, 114);
	font-size: 2.5rem;
	opacity: 0.5;
	transition: all 0.5s;
}

.empty-card:hover > span {
	transform: translateY(0px) rotate(0deg);
	opacity: 1;
}

dialog[open] {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	max-height: 100vh;
	width: 100%;
	max-width: 100vw;
	background: none;
	overflow: hidden;
}

dialog[open]::after {
	content: "";
	height: 100vh;
	width: 100%;
	backdrop-filter: blur(10px);
	position: absolute;
	z-index: 0;
}

.wrapper {
	z-index: 1;
	padding: 64px;
	background-color: rgba(228, 220, 207, 1);
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	position: relative;
}

.dialog-form {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.dialog-form .form-close {
	position: absolute;
	right: 0;
	top: 0;
	margin: 12px;
	padding: 0 8px;
	outline: none;
	border: 2px solid rgb(87, 111, 114);
	font-size: 1.5rem;
	background: none;
	align-self: end;
	border-radius: 5px;
	transition: 0.2s;
}

.form-close::after {
	content: "\00d7";
}

.form-close:hover {
	background-color: rgb(87, 111, 114);
	color: rgb(240, 235, 227);
}

.dialog-form input:not([type="checkbox"]),
.dialog-form select,
.dialog-form textarea {
	background: rgb(240, 235, 227);
	outline: none;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	padding: 2px 8px;
	font-size: 0.9rem;
	transition: color 0.2s;
}

.dialog-form input:not([type="checkbox"]),
.dialog-form textarea,
.dialog-form select {
	color: rgba(0, 0, 0, 0.5);
}

.dialog-form input:first-of-type::placeholder {
	color: rgb(255, 101, 119);
	text-align: end;
	transition: 0.5s;
}

.dialog-form input:not([type="checkbox"]):hover,
.dialog-form input:not([type="checkbox"]):focus,
.dialog-form textarea:hover,
.dialog-form textarea:focus,
.dialog-form select:hover,
.dialog-form select:focus {
	color: rgb(0, 0, 0);
}

.dialog-form textarea {
	width: 300px;
	height: 150px;
	resize: none;
}

.dialog-form label:not(.checkbox) {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	font-family: "Montserrat", "Poppins", var(--default-fonts);
	gap: 12px;
}

.dialog-form label:not(.checkbox) span:first-child {
	width: 100%;
	height: 2px;
	background-color: rgb(87, 111, 114);
}

.dialog-form label:not(.checkbox) span:last-child {
	width: 100%;
	height: 2px;
	background-color: rgb(87, 111, 114);
}

label.checkbox {
	position: relative;
	margin: 5px 0;
	cursor: pointer;
}

label.checkbox input {
	appearance: none;
	display: none;
}

label.checkbox span {
	position: relative;
	display: block;
	width: 40px;
	height: 25px;
	background: rgb(228, 220, 207);
	border-radius: 40px;
	box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.2);
}

label.checkbox .indicator {
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	background: linear-gradient(
		to bottom,
		rgb(125, 157, 156),
		rgb(87, 111, 114)
	);
	border-radius: 50%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5),
		inset 0 1px 1px rgba(255, 255, 255, 0.2);
	transition: 0.5s;
}

label.checkbox input:checked ~ .indicator {
	left: 15px;
}

label.checkbox .indicator::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 3px;
	height: 3px;
	background: rgb(255, 0, 0);
	border-radius: 50%;
	transition: 0.5s;
}

label.checkbox input:checked ~ .indicator::before {
	background: rgb(0, 255, 0);
}

.dialog-form .form-button {
	border: 2px solid rgb(87, 111, 114);
	border-radius: 5px;
	outline: none;
	background-color: rgb(87, 111, 114, 0);
	cursor: pointer;
	transition: 0.2s;
}
.dialog-form > .form-button:hover,
.tags > .form-button:active {
	background-color: rgb(87, 111, 114);
	color: rgb(240, 235, 227);
}

.dialog-form input[type="color"] {
	align-self: center;
}
